@font-face {
    font-family: Almeda;
    src: url('../../assets/fonts/Almeda.ttf');
    font-weight:lighter;
  }
  @font-face {
    font-family: Alleria;
    src: url('../../assets/fonts/Alleria.ttf');
  }


.modalContainer {
    background-color: #333333;
    color:aliceblue;
}

.modalContainer h3 {
    font-family: 'Almeda';
    color: aqua;
}

.eventDetails {
    display: flex;
    flex-wrap: wrap;
}

.eventDetails li {
    list-style: none;
    display: inline;
    font-family: 'Almeda';
}

.event-description {
    text-align:center;
}

.eventSignup {
    color: black;
    background-color:aqua;
    border-radius: 10%;
    padding: 5px;
    border-style: none;
    box-shadow: 2px 2px 3px black;
    font-weight: normal;
}
.eventSignup:hover {
    color: black;
    padding: 7px;
    background: radial-gradient(circle, rgba(0,255,255,1) 0%, rgba(0,169,247,1) 100%);
    box-shadow: 4px 4px 5px black;
}
.eventSignup:active {
    background-color: rgba(0,169,247,1);
    box-shadow: 1px 1px 1px black;
    font-weight: bold;
    padding: 8px;
}